@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

// body {
//   background: #9b59b6;
//   font: normal 300 1em/1.5em 'Ubuntu', sans-serif;
// }

// .container {
//   background: #fff;
//   width: 100%;
//   max-width: 480px;
//   min-width: 320px;
//   margin: 2em auto 0;
//   padding: 1.5em;
// }

// p { margin-bottom: 1.5em; }
// p:last-child { margin-bottom: 0; }

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

figure {
    blockquote {
        background-color:  #f2f3f3;
    }
    blockquote:before {
        background: #f2f3f3;
        // color: #fff;
    }
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

blockquote:after {
  content: attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
  margin: auto
}

